@using System.Text.Json
@model HomeViewModel

<div id="contribute-song-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contribute song lyrics</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="js_contribute-song-form" asp-action="Create" enctype="multipart/form-data">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SongModel.Name" class="control-label">Name*</label>
                                <input asp-for="SongModel.Name" class="form-control" />
                                <span asp-validation-for="SongModel.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SongModel.Image" class="control-label js_img_changeTarget">
                                    <span>Image</span>
                                    <img src="~/images/songs/no-song.png" style="height:auto;width:100%" alt="product image" />
                                </label>
                                <input type="file" asp-for="SongModel.Image" accept=".png, .jpg, .jpeg, .gif" class="form-control js_img_changeEvent" />
                                <span asp-validation-for="SongModel.Image" class="text-danger"></span>
                            </div>                            

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SongModel.ArtistForm" class="control-label"></label>
                                <input asp-for="SongModel.ArtistForm" class="form-control" />
                                <span asp-validation-for="SongModel.ArtistForm" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SongModel.ReleaseDate" class="control-label"></label>
                                <input asp-for="SongModel.ReleaseDate" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                                <span asp-validation-for="SongModel.ReleaseDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SongModel.YoutubeLink" class="control-label"></label>
                                <input asp-for="SongModel.YoutubeLink" class="form-control" />
                                <span asp-validation-for="SongModel.YoutubeLink" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SongModel.SpotifyLink" class="control-label"></label>
                                <input asp-for="SongModel.SpotifyLink" class="form-control" />
                                <span asp-validation-for="SongModel.SpotifyLink" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SongModel.AppleMusicLink" class="control-label"></label>
                                <input asp-for="SongModel.AppleMusicLink" class="form-control" />
                                <span asp-validation-for="SongModel.AppleMusicLink" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="SongModel.Lyric" class="control-label">Lyrics*</label>
                            <textarea asp-for="SongModel.Lyric" class="form-control"></textarea>
                            <span asp-validation-for="SongModel.Lyric" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="SongModel.MediaLinksForm" value="@JsonSerializer.Serialize(Model.SongModel.MediaPlatformLinks)" />
                    </div>

                    <div class="row">
                        @if (Model.CaptchaSettings.IsVersion2())
                        {
                            <div class="g-recaptcha" data-sitekey="@Model.CaptchaSettings.SiteKey"></div>
                        }
                        <div class="js_contributeSong-error-message mt-3 col-md-5 alert"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    @if (Model.CaptchaSettings.IsVersion3())
                    {
                        <button class="btn btn-primary g-recaptcha" disabled type="submit"
                                data-action="@Model.CaptchaSettings.Action" data-sitekey="@Model.CaptchaSettings.SiteKey" data-callback="onSubmit">
                            Save
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary js_btn-save-song-contribution" type="submit">
                            Save
                        </button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
