@using Ratio_Lyrics.Web.Areas.Admin.Models
@using Ratio_Lyrics.Web.Helpers
@model ListSongsAdminViewModel

@{
    ViewData["Title"] = "Adminitration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Administration</h1>
